
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,400;0,600;1,900&display=swap');


html {
    box-sizing: border-box; 
    font-family: 'Bitter', serif;
}
body {
   background-color: blue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: fit-content;
}
.auth_card{
    background-color:#fff;
    display: flex;
    justify-content: center;
  
}