
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,400;0,600;1,900&display=swap');


html { 
   
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #192b32;
}
body {
  font-family: 'Bitter', serif;
}

h1{
  text-align: center;
  font-weight: 900;
}
.auth_card{
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;  
  border-radius: 10px 10px 10px 0px;
}

input [type=text] {
 
}


#username{
  display: flex;
  flex-direction: column;
}
.socialmedia_images{
  display: flex;
  justify-content: center;
}

.socialmedia_images img{
  width: 50px;
  height: 50px;
  border-radius: 17px;
}

.user_name{
  display: flex;
}
.pass_word{
  display:flex;
}
.sign_up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.sign_up a{
  margin-top: 10px;
}
#forgot_password a {
display: flex;
justify-content: end;
}

.login_button{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.login_button button{
  width: 260px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  background-color: #192b32;
  font-size: 15px;
}
.login_button button:hover{
   cursor: pointer;
}
#socialmedia{
  margin-top: 10px;
}
#socialmedia span{
display: flex;
justify-content: center;
}
 
a{
  text-decoration: none;
}
ul, li{
  list-style: none;
}













@media(max-width: 500px){
  .auth_card{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 14px;
   border-radius: 10px 10px 10px 0px;
}



}

@media(min-width:510px){

  .auth_card{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 30px;
   border-radius: 10px 10px 10px 0px;
}

}



@media(min-width: 600px){
  .auth_card{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 70px;
   border-radius: 10px 10px 10px 0px;
}
}